VITE_SUPABASE_URL=https://kfazmtyzpmebbswjamsr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtmYXptdHl6cG1lYmJzd2phbXNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwMjI3OTQsImV4cCI6MjEwMjU5ODc5NH0.w77NgEjzPT2Rnp_wiBaKBdGBPnxa7Lr7octeKXFkqcA
